.container {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.product {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  float: left
}

.product_1 {
  background-color: #ccc;
/*  position: absolute;*/
}

.product_2 {
  position: absolute;
  top: 100px;
  left: 100px;
}