.logo {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-top: 50px;
  margin-left: 100px;
  outline: 4px solid #000;
}

.logo:hover {
  outline: none;
}

.menu li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}