[submodule "Ruby/08/hello"]
	path = Ruby/08/hello
	url = https://github.com/nemestny/hello.git

[submodule "Ruby/08_homework/task03"]
	path = Ruby/08_homework/task03
	url = https://github.com/nemestny/task03.git
[submodule "Rails/support_app"]
	path = Rails/support_app
	url = ../support_app.git
