@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
.body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  height: 800px;
  background-image: url(img/slider-img.jpg);
}

.header .logo {
  margin-left: 98px;
  margin-top: 63px;
}

.menu {
  float: right;
  margin-right: 211px;
  margin-top: 67px;
}

.menu li {
  float: left;
  list-style-type: none;
}

.menu li a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  display: block;
  padding: 0 13px;
}

.menu li a:hover {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid black;
}

.slider-content {
  font-family: 'Montserrat';
  margin-top: 288px;
  margin-left: 98px;
  width: 488px;
}

.slider-content h3 {
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.slider-content h1 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
}

.slider-content p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 32px;
}

.slider-content a {
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  background-color:  #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  display: block;
  border-radius: 22px;
}

.slider-content img {
  padding-left: 22px;
}