@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
.body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  height: 800px;
  background-image: url(img/slider-img.jpg);
}

.navbar {
  height: 90px;
}

.navbar .logo {
  margin-left: 98px;
  margin-top: 63px;
}

.navbar .menu {
  float: right;
  margin-right: 4px;
  margin-top: 56px;
}

.navbar .menu li {
  float: left;
  list-style-type: none;
}

.navbar .menu li a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  display: block;
  padding: 0 13px;
}

.navbar .menu li a:hover {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid black;
}

.navbar .search {
  float: right;
  margin-top: 63px;
  margin-right: 167px;
}

.slider-content {
  font-family: 'Montserrat';
  margin-top: 288px;
  margin-left: 98px;
  width: 488px;
}

.slider-content h3 {
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.slider-content h1 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
}

.slider-content p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 32px;
}

.slider-content a {
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  display: block;
  border-radius: 22px;
}

.slider-content img {
  padding-left: 22px;
}

.featured-product {
  width: 1171px;
  height: 369px;
  margin-top: 120px;
  margin-left: 98px;
  background-color: aquamarine
}

.promo-product {
  background-color: blueviolet;
  height: 683px;
  margin-top: 120px;
}

.trending-product {
  background-color: bisque;
  margin-top: 120px;
  margin-left: 98px;
  width: 1171px;
  height: 869px;
}

.hot-deals {
  background-image: url(img/slider-hot.jpg);
  height: 800px;
  margin-top: 120px;
}

.exclusive-product {
  background-color: aqua;
  width: 1170px;
  height: 570px;
  margin-top: 120px;
  margin-left: 98px;
}

.mobile-app {
  background-image: url(img/mobile-back-img.jpg);
  height: 516px;
  margin-top: 120px;
}

.footer {
  height: 384px;
  background-color: #f7f7f7;
}