@widthAll: 1000px;
.header {
  width: @widthAll;
  margin: 0 auto;
  height: 200px;
  background-color: darkcyan;
}

.main {
  width: @widthAll;
  margin: 0 auto;
  background-color: navajowhite
}

.main {
  .block {
    outline: 1px solid black;
    width: @widthAll / 3 - 60px;
    height: 400px;
    margin: 50px 30px;
    float: left;
  }
  .clr {
    clear: both;
  }
}

.footer {
  width: @widthAll;
  margin: 0 auto;
  height: 200px;
  background-color: #ccc;
}