* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.container {
  width: 1120px;
  margin: 0 auto;
  background-color: bisque;
}

.header {
  height: 100px;
  background-color: aquamarine;
}

.big_box {
  height: 200px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.product {
  padding-left: 7%;
  
}



.slider_nav {
  display: block;
  position: absolute;
  width: 1120px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

.small_box_5 {
  padding: 50px;
  padding-right: 50px;
}

.title {
  padding-right: 10px;
}

.title .nav {
  float: left;
}

.title .btn-ghost {
  float: right;
}

.small_box_5 .product:first-child {
  width: 500px;
  height: 500px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.small_box_5 .product {
  width: 245px;
  height: 245px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.clr {
  clear: both;
}