* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}


.container {
  width: 1120px;
  margin: 0 auto;
  background-color:bisque;
}

.header {
  height: 100px;
  background-color: aquamarine;
}

.big_box {
  height: 200px;
  padding: 50px;
  
}

.small_box {
  padding: 50px;
    padding-right: 40px;
    padding-right: 40px;
}

.product_5 {
  width: 500px;
  height: 500px;
  float: left;
  margin-right: 10px;
/*  margin-bottom: 10px;*/
}

.product_1 {
  width: 245px;
  height: 245px;
  float: left;
    margin-right: 10px;
  margin-bottom: 10px;
}

.clr {
  clear: both;
}
