body {
  background-color: #f8f8f8;
  font-family: sans-serif;
}

.menu {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  color: gray;
}

a[href="#"] {
  font-weight: 600;
}

.product h3 {
  color: black;
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;
}