.menu li {
  list-style-type: none;
}

.list li:nth-child(3):after {
  content: "new";
  color: blueviolet;
  text-transform: uppercase;
}

.menu li:hover::before {
  content: " >>";
    color:red;
}

.text:first-letter {
  font-size: 30px;
  color: brown;
}