@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
.body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.grid {
  width: 1174px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 73px;
  grid-row-gap: 27px;
  grid-column-gap: 26px;
}

.box_2 {
  grid-column: span 2;
  grid-row: span 2;
}

.box_3 {
  grid-column: span 3;
  grid-row: span 3;
}

.box_4 {
  grid-column: span 4;
  grid-row: span 4;
}

.box_6 {
  grid-column: span 6;
  grid-row: span 6;
}

.header-index {
  height: 800px;
  background-image: url(img/slider-img.jpg);
  position: relative;
}

.header-index:hover .btn-order img,
.promo-item:hover .btn-order img,
.hot-deals:hover .btn-order img,
.exclusive-item-1:hover .btn-order img {
  opacity: 1;
}

.header {
  height: 360px;
  background-color: #f5f5f5;
}

.header .title {
  margin-top: 154px;
  margin-left: 101px;
}

.header .title h1 {
  font-family: 'Montserrat';
  color: #212121;
  font-size: 60px;
  font-weight: 200;
  line-height: 75px;
  letter-spacing: -0.05em;
  word-spacing: 0.2em;
}

.navbar {
  height: 90px;
}

.navbar .logo {
  margin-left: 98px;
  margin-top: 63px;
}

.navbar .menu {
  float: right;
  margin-right: 6px;
  margin-top: 55px;
}

.navbar .menu li {
  float: left;
  list-style-type: none;
}

.navbar .menu li a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #8c8c8c;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 34px;
  display: block;
  padding: 0 14px;
}

.navbar .menu li .active,
.navbar .menu li a:active {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid black!important;
}

.navbar .menu li a:hover {
  color: #212121;
  border-bottom: 1px solid black;
}

.navbar .search {
  float: right;
  margin-top: 63px;
  margin-right: 167px;
}

.slider-content {
  font-family: 'Montserrat';
  margin-top: 278px;
  margin-left: 98px;
  width: 488px;
}

.slider-navigation {
  position: absolute;
  bottom: 19px;
  width: 100%;
  height: 40px;
  background-image: url(img/slider-navi.png);
  background-position: center;
  text-align: center;
}

.slider-navigation a img {
  padding: 0 3px;
  opacity: 0;
}

.slider-navigation a:hover img {
  opacity: 1;
}

.slider-navigation a:active img {
  opacity: 0.5;
}

.slider-content .tag {
  color: #43a047;
}

.content {
  float: left;
}

.content h3 {
  font-size: 20px;
  font-weight: 700;
}

.content h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: -5px;
  letter-spacing: -0.03em;
}

.content h1 {
  color: #212121;
  font-size: 60px;
  font-weight: 200;
  line-height: 75px;
  letter-spacing: -0.05em;
  word-spacing: 0.2em;
}

.content p {
  color: #6c6c6c;
  font-size: 13.75px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 13px;
  margin-bottom: 27px;
}

.content .btn-order {
  text-decoration: none;
  color: #212121;
  font-size: 17px;
  letter-spacing: 0.22em;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 45px;
  display: block;
  border-radius: 18px;
}

.content .btn-order img {
  padding-left: 18px;
  opacity: 0;
}

.content .btn-order:hover {
  box-shadow: 0px 4px 9px 0.3px rgba(33, 33, 33, 0.35);
}

.content-hover a:hover {}

.content .btn-order:active {
  box-shadow: none;
}

.featured-product {
  width: 1171px;
  height: 361px;
  margin-top: 113px;
  margin-left: 98px;
}

.featured-head {
  height: 107px;
}

.tab-controll {
  height: 50px;
  float: left;
}

.tab-controll li {
  list-style-type: none;
  float: left;
}

.tab-controll a {
  font-family: Montserrat;
  color: #6c6c6c;
  letter-spacing: -0.03em;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  display: block;
  padding-left: 7px;
  padding-right: 19px;
  padding-bottom: 10px;
}

.tab-controll .active {
  color: #212121;
  border-bottom: 3px solid #212121!important;
}

.tab-controll a:hover {
  border-bottom: 1px solid #212121;
}

.tab-controll a:active {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.featured-product .tab-controll a {
  font-size: 36px;
}

.products > .tab-controll {
  margin-top: 67px;
  margin-left: 98px;
  margin-bottom: 38px;
}

.products > .tab-controll a {
  font-size: 18px;
  padding-right: 27px;
  letter-spacing: 0.06em;
}

.bnt-ghost {
  float: right;
  margin-top: 20px;
  font-family: Montserrat;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15em;
  word-spacing: 0.1em;
  /*  line-height: 24px;*/
  text-decoration: none;
  opacity: 1;
}

.bnt-ghost img {
  margin-left: 9px;
  opacity: 0;
}

.bnt-ghost:hover {
  opacity: 0.75;
}

.bnt-ghost:hover img {
  opacity: 1;
}

.bnt-ghost:active {
  opacity: 0.3;
}

.featured-product .tab-content {}

.feat-product-1 {
  background-image: url(img/feat-product-1.jpg)
}

.feat-product-2 {
  background-image: url(img/feat-product-2.jpg)
}

.feat-product-3 {
  background-image: url(img/feat-product-3.jpg)
}

.feat-product-4 {
  background-image: url(img/feat-product-4.jpg)
}

.product-content-hover {
  width: 100%;
  height: 100%;
  float: left;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.9;
  font-family: Montserrat;
  display: none;
  grid-template-rows: 1fr auto 1fr;
}

.feat-product:hover .product-content-hover,
.trend-item:hover .product-content-hover,
.exclusive-item-sm:hover .product-content-hover,
.item:hover .product-content-hover {
  display: grid;
}

.product-content-hover a:hover img {
  opacity: 0.6;
}

.product-content-hover a:active img {
  opacity: 0.2;
}

.product-content-hover h3 {
  color: #212121;
  font-size: 21.91px;
  font-weight: 700;
  transform: scaleX(1.0041);
  margin-top: 2px;
  margin-bottom: 12px;
}

.product-content-hover span {
  color: #6c6c6c;
  font-size: 13.94px;
  font-weight: 300;
  line-height: 22px;
  display: inline-block;
  width: 212px;
  transform: scaleX(1.0041);
}

.promo-product {
  height: 683px;
  margin-top: 136px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.promo-item {
  height: 100%;
  background-color: aquamarine;
}

.promo-item:hover .promo-content {
  /*  opacity: 1;*/
  display: inherit;
}

.promo-item-1 {
  background-image: url(img/promo-product-1.jpg);
}

.promo-item-2 {
  background-image: url(img/promo-product-2.jpg);
}

.promo-content {
  font-family: 'Montserrat';
  margin-top: 224px;
  margin-left: 51px;
  width: 378px;
}

.promo-content .tag {
  color: #1e88e5;
}

.trending-product {
  margin-top: 115px;
  margin-left: 98px;
  width: 1171px;
  height: 869px;
}

.trending-product .title {
  height: 40px
}

.trending-product .title h2 {
  font-family: Montserrat;
  color: #212121;
  font-size: 36px;
  letter-spacing: -0.035em;
  font-weight: 700;
  float: left;
}

.trending-product .products {
  margin-top: 64px;
}

.trend-item-1 {
  background-image: url(img/trend-item-1.jpg);
}

.trend-item-2 {
  background-image: url(img/trend-item-2.jpg);
}

.trend-item-3 {
  background-image: url(img/trend-item-3.jpg);
}

.trend-item-4 {
  background-image: url(img/trend-item-4.jpg);
}

.trend-item-5 {
  background-image: url(img/trend-item-5.jpg);
}

.trend-item-6 {
  background-image: url(img/trend-item-6.jpg);
}

.hot-deals {
  background-image: url(img/slider-hot.jpg);
  height: 800px;
  margin-top: 125px;
  position: relative;
  /*  float: none;*/
}

.hot-content {
  font-family: 'Montserrat';
  margin-top: 282px;
  margin-left: 97px;
  width: 490px;
  height: 233px;
  /*  display: none;*/
}

.hot-content .tag {
  color: #e53935;
}

.exclusive-item-1:hover .exclusive-content {
  display: inherit;
}

.exclusive-product {
  margin-top: 120px;
  margin-left: 98px;
}

.exclusive-item-1 {
  background-image: url(img/exclusive-product-1-lg.jpg);
}

.exclusive-content {
  font-family: 'Montserrat';
  margin-top: 181px;
  margin-left: 30px;
  width: 340px;
}

.exclusive-content .tag {
  color: #1e88e5;
}

.exclusive-item-2 {
  background-image: url(img/exclusive-product-2-sm.jpg);
}

.exclusive-item-3 {
  background-image: url(img/exclusive-product-3-sm.jpg);
}

.exclusive-item-4 {
  background-image: url(img/exclusive-product-4-sm.jpg);
}

.exclusive-item-5 {
  background-image: url(img/exclusive-product-5-sm.jpg);
}

.item {
  /*  background-color: aqua;*/
}

.item-1 {
  background-image: url(img/trend-item-1.jpg);
}

.item-2 {
  background-image: url(img/trend-item-2.jpg);
}

.item-3 {
  background-image: url(img/trend-item-3.jpg);
}

.item-4 {
  background-image: url(img/trend-item-4.jpg);
}

.item-5 {
  background-image: url(img/trend-item-5.jpg);
}

.item-6 {
  background-image: url(img/trend-item-6.jpg);
}

.item-7 {
  background-image: url(img/trend-item-1.jpg);
}

.item-8 {
  background-image: url(img/trend-item-2.jpg);
}

.item-9 {
  background-image: url(img/trend-item-3.jpg);
}

.item-10 {
  background-image: url(img/trend-item-4.jpg);
}

.item-11 {
  background-image: url(img/trend-item-5.jpg);
}

.item-12 {
  background-image: url(img/trend-item-6.jpg);
}

.load {
  grid-column: span 12;
  /* background-color: aqua; */
  font-family: icomoon;
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  padding-left: 22px;
}

.mobile-app {
  background-image: url(img/mobile-back-img.jpg);
  height: 516px;
  margin-top: 117px;
}

.mobile-content {
  font-family: 'Montserrat';
  margin-top: 117px;
  margin-left: 98px;
  width: 450px;
}

.mobile-content .tag {
  color: #6c6c6c;
}

.mobile-content .details {
  color: #6c6c6c;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
}

.mobile-content a img {
  padding-left: 0px;
  padding-right: 7px;
}

.footer {
  height: 384px;
  background-color: #f7f7f7;
}

.footer-1 {
  width: 225px;
  height: 139px;
  margin-top: 115px;
  margin-left: 97px;
  /*  display: inline-block;*/
  float: left;
}

.footer-2 {
  width: 422px;
  height: 101px;
  margin-left: 76px;
  margin-top: 115px;
  /*  display: inline-block;*/
  float: left;
}

.footer-3 {
  width: 385px;
  height: 147px;
  margin-left: 78px;
  margin-top: 115px;
  /*  display: inline-block;*/
  float: left;
}

.footer h3 {
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 18px;
  letter-spacing: 0.075em;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 13px;
}

.footer p {
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin-bottom: 21px;
}

.footer .links-1 {
  float: left;
  margin-top: -2px;
}

.footer .links-2 {
  float: right;
  margin-top: -2px;
}

.footer .links li {
  list-style-type: none;
}

.footer .links a {
  text-decoration: none;
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.footer .subscribe {
  border: 1px solid #d9dee1;
  background-color: #ffffff;
}

.footer input[type="email"] {
  border: none;
  width: 298px;
  height: 46px;
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  padding-left: 17px;
}

.footer input[type="submit"] {
  border: none;
  background-color: #ffffff;
  width: 46px;
  height: 46px;
  background-image: url(img/send.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .copyright {
  float: left;
  width: 1171px;
  height: 35px;
  margin-top: 64px;
  margin-left: 98px;
}

.footer .copyright h4,
.footer .copyright h4 a {
  display: inline;
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

.footer .copyright img {
  margin-left: 158px;
  margin-right: 167px;
  vertical-align: top;
}


/*font Icomoon*/

@font-face {
  font-family: 'IcoMoon-Free';
  src: url('fonts/IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loop2:before {
  content: "\ea2e";
}