.heading {
    color: red;
    background-color: #ccc;
}
img[alt="phone"] {
    border: 4px solid green;
}

.blue {
    color: blue;
    background-image: url(img/phone_small.jpg);
    background-repeat: no-repeat;
    background-position: right 10px;
}

p {
    font-size: 1em;
}
